**/bin/*
**/gen/*
target

**/build/*
**/.idea/*
**/*.iml
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.metadata/*
**/com_crashlytics_export_strings.xml
**.hprof
**/crashlytics-build.properties
**/crashlytics.properties
**.log
*~
*.orig
ajcore.*
**/captures/*
